asgiref==3.11.1
autopep8==2.3.2
Django==6.0.5
django-ckeditor-5==0.2.20
django-debug-toolbar==6.3.0
django-ranged-response==0.2.0
django-simple-captcha==0.6.3
pillow==12.2.0
psycopg2-binary==2.9.12
pycodestyle==2.14.0
python-dotenv==1.2.2
sqlparse==0.5.5
