#header, .module h2, .module caption, .inline-group h2 {
    background: #78909c;
    color: #eceff1
}

#branding h1, #branding h1 a:link,  #branding h1 a:visited {
    color: #eceff1;
  }

  div.breadcrumbs {
    background: #263238
  }