{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
About :: {{ block.super }}
{% endblock %}

{% block extra_head %}
<!-- Добавим стили для этой страницы -->
<style>
    .home-container3 {
        background-image: url('{% static "images/7.jpg" %}');
        background-size: cover;

    }

    .about-us {
        max-width: 1000px;
        margin: auto;
        background: rgba(255, 255, 255, 0.9);
        padding: 50px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .about-us h1 {
        color: #333;
        font-size: 2.5em;
        margin-bottom: 30px;
    }

    .about-us p {
        font-size: 1.2em;
        color: #666;
        line-height: 1.6em;
    }

    .animated-element {
        opacity: 0;
        transform: translateY(20px);
        animation: appear 1s forwards;
        animation-delay: 0.5s;
        /* Add this line to delay the animation */
    }

    @keyframes appear {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="about-us animated-element">
    <h1>{% trans "About Me" %}</h1>
    <img src="" alt="">
    <p>
        {% trans "I am a self-taught artist from Chechnya, born in 1996, working primarily with oil paints." %}
    </p>

    <p>
        {% trans "My artistic journey began from a deep emotional connection to colors, atmosphere, and storytelling through canvas. Without formal academic training, I developed my skills independently through constant practice, experimentation, and a passion for art." %}
    </p>
    <br>
    <p>
        {% trans "Each painting reflects emotion, silence, mood, and my personal perception of the world around me. I enjoy creating atmospheric works that combine softness, texture, and expressive color palettes." %}
    </p>
    <br>
    <p>
        {% trans "Art for me is not only a form of creativity, but also a way to communicate feelings that are difficult to express through words." %}
    </p>
    <br>
    <p>
        {% trans "I continue to grow, explore new techniques, and build my own artistic voice through every new work." %}
    </p>
    <br>
    <br>
    <br>

    <p>
        {% trans "Best regards, Karina Api" %}
    </p>

</div>
{% endblock %}