{% extends 'base.html' %}

{% block title %}
    Contact :: {{ block.super }}
{% endblock %}




{% block content %} 


<div class="col-md-5 mr-auto">
  <h2>Contact Us</h2>
  <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quaerat autem corrupti
    asperiores accusantium et fuga! Facere excepturi, quo eos, nobis doloremque dolor labore expedita illum
    iusto, aut repellat fuga!</p>

  <ul class="list-unstyled pl-md-5 mb-5">
    <li class="d-flex text-black mb-2">
      <span class="mr-3"><span class="icon-map"></span></span> 34 Street Name, City Name Here, <br> United
      States
    </li>
    <li class="d-flex text-black mb-2"><span class="mr-3"><span class="icon-phone"></span></span> +1 (222) 345
      6789</li>
    <li class="d-flex text-black"><span class="mr-3"><span class="icon-envelope-o"></span></span>
      info@mywebsite.com </li>
  </ul>
</div>

<div class="col-md-6">
  <form class="mb-5" method="post" id="contactForm" name="contactForm">
    <div class="row">

      <div class="col-md-12 form-group">
        <label for="name" class="col-form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="email" class="col-form-label">Email</label>
        <input type="text" class="form-control" name="email" id="email">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-group">
        <label for="message" class="col-form-label">Message</label>
        <textarea class="form-control" name="message" id="message" cols="30" rows="7"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
        <span class="submitting"></span>
      </div>
    </div>
  </form>

  <div id="form-message-warning mt-4"></div>
  <div id="form-message-success">
    Your message was sent, thank you!
  </div>
</div>


<!-- {% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags == 'danger' %} danger{% else %}alert-success{% endif %}" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %} -->




<!-- <h1>Contact us</h1>

<form action="{% url 'contacts' %}" method="post">

    {% csrf_token %}

    {{ form.as_p }}
  


    {% comment %}
    {{ form.non_field.errors }}
    <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">Name: </label>
        {{ form.name }}
        <div class="invalid-feedback">
            {{ form.name.errors}}
        </div>

    
        <label for="{{ form.email.id_for_label }}" class="form-label">Email: </label>
        {{ form.email }}
        <div class="invalid-feedback">
            {{ form.email.errors}}
        </div>


        <label for="{{ form.subject.id_for_label }}" class="form-label">Subject: </label>
        {{ form.subject }}

        <label for="{{ form.message.id_for_label }}" class="form-label">Message: </label>
        {{ form.message }}
        <div class="invalid-feedback">
            {{ form.message.errors}}
        </div>
        
    </div>
    {% endcomment %}

    {% comment %}
    <div class="mb-3">
    {% for field in form %}
     
       {{ field.label_tag }}
       {{ field }}
       <div class="invalid-feedback">
        {{ field.errors}}
       </div>

    {% endfor %}
    </div>
    {% endcomment %}
    
  

    <button type="submit" class="btn btn-primary btn-block">Send</button>

    
    


</form> -->

{% endblock %}

