{% extends 'base.html' %}
{% load i18n %}


{% block title %}
Home :: {{ block.super }}
{% endblock %}

{% block extra_head %}
<style>
  .animated-element {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
  }

  .home-button {
    transition: opacity 1s, transform 1s;
  }

  .show {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
</style>
{% endblock %}

{% block content %}

<div class="home-hero">

  <span class="home-text animated-element">
    <span class="home-text1">{% trans "Original oil paintings inspired by emotion, silence and atmosphere." %}</span>
  </span>
  <h1 class="home-text2 animated-element">{% trans "Welcome everyone" %}</h1>
  <a class="home-button button animated-element" href="{% url 'show_gallery' %}">{% trans "Explore Gallery" %}</a>
</div>

{% endblock %}

{% block extra_js %}
<script>
  window.addEventListener('load', function () {
    const elements = document.querySelectorAll('.animated-element');

    elements.forEach(function (element) {
      element.classList.add('show');
    });
  });
</script>
{% endblock %}