{% extends 'base.html' %}

{% block title %}
    Gallery :: {{ block.super }}
{% endblock %}



{% block content %} 
<h1>Gallery</h1>
<!--
<div class="container-fluid">
  <div class="row">
    {% for item in gallery %}
    <div class="col-md-4">
        <div class="media">
          {% if item.photo %}
              <img src="{{ item.photo.url }}" width="400" class="img-responsive">
          {% endif %}
        </div>
    </div>
    {% endfor %}
  </div> 
</div>

-->
{% endblock %}





      
   